[submodule "src/f1tenth_gym_ros"]
	path = src/f1tenth_gym_ros
	url = https://github.com/Shreyas0812/f1tenth_gym_ros.git
[submodule "src/sbamp/sbamp/ds-opt-py"]
	path = src/sbamp/sbamp/ds-opt-py
	url = https://github.com/penn-figueroa-lab/ds-opt-py.git
